.App{
  font-family: Verdana, Arial, sans-serif;
  background-color: green;
  border-color: maroon 10px solid;
}

body {
  margin:0;
}

.form{
  background-color: maroon;
  color: wheat;
  font-family: Verdana, Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

button{
  position: relative;
  float: right;
}
hr{
  border-top: 2px solid maroon;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

/* --- Calendar --- */
div.calendar{
  font-family: Verdana, Arial, sans-serif;
  background-color: wheat;
  border-radius: 40px;
  border-color: maroon 10px solid;
  width: 350px;
  height: 400px;
}
h2 {
  color: maroon;
  text-align: center;
  padding-top: 20px;
}
.calendar{
  border-collapse: collapse;
  width: 500px;
}

.calendar-header{
  background-color: maroon;
  color: wheat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.calendar-day{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: maroon;
  border-radius: 20%;
  border: 2px solid wheat;
}

.calendar-day-selected{
  background-color: maroon;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: wheat;
  border-radius: 10%;
  border: 2px solid maroon;
}
.calendar-other-month-day{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: grey;
  border-radius: 20%;
  border: 2px solid wheat;
  padding-top: 2px;
}
/* --- Calendar --- */
/* --- CSS Grid --- */

.grid-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-span{
  grid-column: 1/ span 7;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: maroon;
  padding-bottom: 10px;
  display: grid;
}

.prev-month{
  grid-column: 1/ span 2;
  vertical-align: baseline;
}
.current-month{
  grid-column: 3/ span 3;
  font-size: 16px;
  text-decoration: underline;
}
.next-month{
  grid-column: 6/ span 2;
  vertical-align: text-bottom;
}